/* Styles généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif Bengali', serif;
    font-weight: normal; /* Supprimer le gras */
    background-color: #f9f7f5;
    color: #07275f; /* Couleur par défaut pour le texte */
    line-height: 1.5;
}

/* Conteneur principal de la carte */
.interactive-map {
    max-width: 100%;
    margin: auto;
    padding: 10px; /* Ajoute de l'espace autour pour aérer */
}

/* Ajustement de la carte */
.interactive-map .map {
    position: relative;
    width: 70%; 
    max-width: 900px;
    margin: 20px auto;
    transform: scale(0.75);
    transform-origin: center center;
    transition: transform 0.3s ease; /* Animation au redimensionnement */
}

/* Objet SVG dans la carte */
.interactive-map .map object {
    width: 100%;
    height: auto;
}

/* Styles pour les régions */
.interactive-map .map .region {
    cursor: pointer;
    transition: fill 0.3s ease, stroke 0.3s ease;
}

.interactive-map .map .region:hover {
    fill: #FFA500; /* Couleur au survol */
    stroke: #FFA500;
}

.interactive-map .map .region[data-opened="opened"] {
    fill: #FF7F00;
    stroke: #FF7F00;
}

/* Détails de la région */
.interactive-map .map .region-detail {
    position: absolute;
    background: white;
    border: 2px solid #FF7F00;
    border-radius: 8px;
    padding: 0.5rem;
    display: none;
    transition: opacity 0.3s ease;
    z-index: 999;
    max-width: 250px;
    max-height: 350px;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.interactive-map .map .region-detail.visible {
    display: block;
    opacity: 1;
}

.interactive-map .map .region-detail.opened {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Scrolling dans les détails */
.interactive-map .map .region-detail .scrolling-menu {
    max-height: 40vh;
    overflow-y: auto;
    padding-right: 10px; /* Ajoute un espace pour mieux gérer la barre de défilement */
}

/* Listes dans la région détaillée */
.interactive-map .map .region-detail .menu {
    list-style-type: none;
    padding: 0;
}

.interactive-map .map .region-detail .menu li {
    margin: 10px 0;
    color: #555;
}

/* Espacement spécifique entre le titre et le contenu */
.discreet-info {
    display: block; 
    margin: 0px 0 !important; 
    padding: 0; 
    line-height: 1.2; 
    font-style: italic; 
    font-size: 0.9em; 
    color: #888; 
    text-align: left;
    font-weight: normal; 
}

/* Espacement entre les sections */
.popup-section {
    margin-bottom: 40px; /* Espace après chaque section */
}

/* Pour espacer les autres informations sous forme de liste */
.popup-section ul {
    margin-top: 10px;
    margin-bottom: 10px;
}



/* Styles responsives */
@media (max-width: 768px) {
    .interactive-map .map {
        width: 80%;
        transform: scale(0.65);
    }

    .interactive-map .map .region-detail {
        max-width: 80%;
        max-height: 75vh;
    }

    .interactive-map .map .region-detail .scrolling-menu {
        max-height: 50vh;
    }
}

@media (max-width: 480px) {
    .interactive-map .map {
        width: 90%;
        transform: scale(0.55);
    }

    .interactive-map .map .region-detail {
        max-width: 70%;
        max-height: 75vh;
    }
}

/* Popup dynamique */
#region-popup {
    position: fixed;
    top: 10%;
    right: 5%;
    width: 600px;
    max-width: 90%;
    background: #f5f0ea !important;
    border: 2px solid #007BFF;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: none;
    animation: popup-slide-in 0.4s ease-in-out;
}


#region-popup h1 {
    font-family: 'Noto Serif Bengali', serif; /* Police spécifique */
    font-weight: normal; /* Supprimer le gras */
    font-size: 2rem; /* Augmente la taille pour un H1 */
    color: #07275f; /* Couleur adaptée */
    margin: 20px 0; /* Ajoute de l'espace au-dessus et en dessous */
    text-align: left; /* Aligne le texte à gauche */
    position: relative; /* Nécessaire pour positionner le pseudo-élément */
    padding-left: 40px; /* Ajoute de l'espace entre le titre et la ligne */
    white-space: nowrap; /* Empêche le titre de se couper en plusieurs lignes */
}

#region-popup h1::before {
    content: ""; /* Pas de texte, juste un espace */
    position: absolute;
    left: 0; /* Positionne le trait à gauche du titre */
    top: 50%; /* Aligne le trait au centre vertical du titre */
    transform: translateY(-50%); /* Aligne parfaitement le trait avec le titre */
    width: 30px; /* Longueur du trait (fixée, petite) */
    height: 2px; /* Épaisseur du trait */
    background-color: #07275f; /* Couleur du trait */
    z-index: -1; /* Placer le trait derrière le texte */
}



#region-popup h2 {
    font-weight: normal; /* Supprimer le gras */
    font-size: 1.5rem;
    color: #07275f;
    margin-bottom: 10px;
    padding-bottom: 5px;
}  


.inline-info {
    font-weight: normal; /* Supprimer le gras */
    font-family: 'Noto Sans', sans-serif; /* Applique Noto Sans */
    font-size: 14px; /* Réduit la taille du texte */
    color: #808080; /* Gris */
    font-style: italic; /* Italique */
    display: inline-block; /* Affichage en ligne */
    margin-top: 1px; /* Espacement au-dessus */
    margin-bottom: 1px; /* Espacement en bas */
    white-space: nowrap; /* Empêche le texte de se couper */
}

/* Ajout d'un espacement autour des listes */
#region-popup ul {
    padding-left: 20px;  /* Espacement à gauche pour les puces */
    margin-top: 10px;    /* Marge au-dessus de la liste */
    margin-bottom: 10px; /* Marge en dessous de la liste */
    list-style-type: disc; /* Liste avec des puces */
}

/* Amélioration du style des éléments de liste */
#region-popup p, 
#region-popup ul li, 
#region-popup .content {
    font-family: 'Noto Sans', sans-serif; /* Applique Noto Sans */
    font-size: 1rem; /* Taille de police confortable */
    color: #07275f; /* Couleur de la police adaptée */
    line-height: 1.4; /* Réduit légèrement l'interligne */
    margin: 8px 0; /* Réduit les marges pour un contenu plus compact */
}

#region-popup a.download-link {
    font-family: 'Noto Sans', sans-serif !important;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #07275f;
    text-decoration: none;
    border: 1px solid #07275f;
    border-radius: 8px;
    font-weight: normal !important;
    transition: background-color 0.3s ease;
}

@keyframes popup-slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Bouton de fermeture */
#region-popup #close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #07275f;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#region-popup a.download-link:hover {
    font-family: 'Noto Sans', sans-serif;
    background-color: #f9f7f5;
}
